h1 {
    background-color: rgb(249, 248, 245);
    font-family: 'Antic Didone', serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 30pt;
}

#box1 {
    background-color: rgb(248, 248, 248);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.pure-u-1-12{
    padding-right: 100px;
}

#box1 img{
    padding-left:90px;
    padding-right: 90px;
    height:25vh
    
    
}

#box1text p {
    text-align: left;

    font-size: 10pt;
    padding-left: 90px;
}


